/var/
/media/*
!/media/board
!/media/private
/errors/local.xml
/app/etc/local.xml
/nbproject/private/
.htaccess
/.idea/*
/.idea/.name
/.idea/artisan-house.iml
/.idea/encodings.xml
/.idea/magicento.xml
/.idea/magicento/adminhtml.xml
/.idea/magicento/config.xml
/.idea/magicento/layout_adminhtml.xml
/.idea/magicento/layout_frontend.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/scope_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
/nbproject/project.properties
/nbproject/project.xml
app/code/local/Danijelandjelkovic/
app/etc/modules/Danijelandjelkovic_Commercebug.xml
js/commercebug/
